@font-face {
  font-family: 'Inter';
  font-weight: 700;
  font-size: bold;
  src: url(./Inter/Inter-Bold.woff) format('woff'),
       url(./Inter/Inter-Bold.woff2) format('woff2');
}

@font-face {
  font-family: 'Inter';
  font-weight: 400;
  font-style: normal;
  src: url(./Inter/Inter-Regular.woff) format('woff'),
       url(./Inter/Inter-Regular.woff) format('woff2');
}


@font-face {
  font-family: 'Inter';
  font-weight: 600;
  font-style: normal;
  src: url(./Inter/Inter-SemiBold.woff) format('woff'),
       url(./Inter/Inter-SemiBold.woff2) format('woff2');
}

